{% extends "base.html" %}
{% block page %}
<div class="container text-center">
    <h1>About Us</h1>
    <p style="text-align:justify";>Welcome to EmoCare, your personalized journey to emotional well-being! Uncover the path to a brighter tomorrow with our innovative depression detection tool. At EmoCare, we believe that understanding your emotional landscape is the first step towards empowerment. Dive into a series of thoughtfully crafted questions that go beyond the surface, guiding you towards self-discovery and emotional awareness. Let the journey begin—because your mental health matters. EmoCare, where your emotions find a voice, and healing starts with a single click. Together, let's embrace a future filled with positivity, resilience, and a newfound sense of self. Your emotional well-being is our priority, and at EmoCare, we're here to illuminate the path to a brighter, more vibrant you!</p>
    
    
    <header>
        <div class="container mt-5">
            <h3 >Thank you for helping us and giving authentication to our Website.</h3>
            
            <img src="/static/img/maam.jpg" alt="Maam Photo">
            <h1>Dr.<span>Shaini Suraj</span></h1>
            <p style="text-align:justify";>Dr Shaini Suraj is originally trained as an Ayurvedic doctor, but profound fascination with mental health led her to pursue a career in Clinical psychology, demonstrating a unique and holistic approach to understanding and addressing mental health and well-being.  She has done MA in Clinical psychology, pursuing PhD.  She is an adolescent coach, regression therapist and relationship expert.  She is PoSH (Prevention of Sexual Harassment) Certified.  She has presented research papers in 5 International Conferences, 1 national conference.  To her credit she has 25 copyrights and more than 25 publications.  She is a member of various national and international organizations like IAAP , American Psychological Association, ICP International Council of Psychologists etc.  She is the psychological Counsellor of YCCE and has changed the life of innumerable students by counseling.
        </div>
    </header>
        
    
    <h2 class="mt-5">Developed by:</h2>
    <ul class="list-group">
        <li class="list-group-item">Rishita A Uikey - rishitauikey2217@gmail.com</li>
        <li class="list-group-item">Arpita Mishra - arpitamishra1304@gmail.com</li>
        <li class="list-group-item">Achal Akulwar - achalakulwar@gmail.com</li>
        <li class="list-group-item">Sakshi Deshmukh - sakshideshmukh1307@gmail.com</li>
        <li class="list-group-item">Saloni Urade - saloniurade22@gmail.com</li>
      </ul>
    
</div>
{% endblock page %}