{% extends "base.html" %}

{% block page %}
<div class="container-fluid text-center">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col">
            <!-- <h1>Welcome to EmoCare - Your Emotional</h1> -->
            <h3>
                It is helpful to consider how the questions have applied to you in the past few weeks or months when you answer them.
            </h3>
            <div class="alert alert-danger" role="alert">
                Important Note: Please provide honest answers for accurate results. Your well-being is our priority.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="container">
                <div class="card mt-5">
                    <div class="card-body">
                        {% comment %} <form method="post">
                            {% csrf_token %}
                            {% for i in que %}
                                <div class="mb-3">                            
                                <label for="exampleInputEmail1" class="form-label">Question :{{i.id}} </label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='questions' value='{{i.que}}' placeholder='{{i.que}}'>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" name='option_text' id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    {{i.option1}}
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" name='option_text' id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    {{i.option2}}
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" name='option_text' id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    {{i.option3}}
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" name='option_text' id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    {{i.option4}}
                                    </label>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Next</button>
                        </form> {% endcomment %}
                        <h1>Question {{ question_num }}</h1>
                        <form method="post">
                            {% csrf_token %}
                            {% for form in dynamic_forms %}
                                {% for field in form %}
                                    <div>
                                        {% if field.label %}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% endif %}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
        
    </div>
</div>

{% endblock page %}