{% extends "base.html" %}

{% block page %}
<div class="container-fluid text-center">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col">
            <h1>Welcome to EmoCare - Your Emotional</h1>
            <h3>
                Wellness Companion
            </h3>
            <h5>Take the first step towards a healthier, happier you.</h5>
            <div class="container mt-5 mb-5">
                <a href="que/" class="btn btn-outline-dark btn-lg">Start Your Emotional Journey</a>
            </div>

            <h3>If you're looking to calm your mind and soothe your senses,</h3>
            <h4>click on the Calming Video below.</h4>
            <div class="container mt-5 mb-5">
                <a href="" class="btn btn-outline-dark btn-lg">Calming Video</a>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="row ">
                <div class="col mb-5 mt-5 text-center">
                    <div class="card" style="width: 48rem;">
                        <div class="card-body">
                            <h2>24*7 Support</h2>
                            <p class="card-text" style="font-family: 'Times New Roman', Times, serif; font-size: 18px;text-align: center;" >Connect with experienced doctors and specialists anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mt-5">
                    <div class="card" style="width: 48rem;">
                        <div class="card-body">
                            <h2>Depression Analysis</h2>
                            <p class="card-text" style="font-family: 'Times New Roman', Times, serif; font-size: 18px;text-align: center;" >Structured questions to assess symptoms and provide personalized insights.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5 mt-5">
                    <div class="card" style="width: 48rem;">
                        <div class="card-body">
                            <h2>Calming Experiences</h2>
                            <p class="card-text" style="font-family: 'Times New Roman', Times, serif; font-size: 18px;text-align: center;" >Immerse yourself in soothing visuals and sounds to promote relaxation and stress reduction.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mt-5">
                    <div class="card" style="width: 48rem;">
                        <div class="card-body">
                            <h2>Calming Experiences</h2>
                            <p class="card-text" style="font-family: 'Times New Roman', Times, serif; font-size: 18px;text-align: center;" >Immerse yourself in soothing visuals and sounds to promote relaxation and stress reduction.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page %}